body{
    margin: 0;
    font-family: Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.navbar{
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #e4e5e7;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    top: 0;
}

.innerNav{
    height: 100%;
    width: calc(100% - 120px);
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.site-logo{
    float: left;
}

.btns{
    display: flex;
    list-style-type: none;
    margin: 0;
    font-size: 20px;
    align-items: center;
   
}
.navBtns{
    font-weight: 530;
    height: 40px;
    
}


.joinBtn{
    height: 20px;
    border: 1px  solid #1dbf73;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: #1dbf73;
    width: 70px;
}

.joinBtn:hover{
    background-color: #1dbf73;
    color: white;
}
button{
    background: none;
    border: none;
    cursor: pointer;
    padding: 20px;
    white-space: nowrap;
    font: 400 16px / 24px Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 600px;    
}

.mainBtns{
    margin-right: 30px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainBtns:hover{
    background-color: #e4e5e7;
}

.mainDiv{
    margin: auto;
    margin-top: 120px;
}

.navBtns:hover{
    color: #1dbf73;

}
.picDiv{
    max-width: 1400px;
    margin: 40px auto;
    padding :32px 32px 64 px;
    height: 500px;
}
.pic{
    height: 500px;
    width: 1336px;
    background-image: url(https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto/v1/attachments/generic_asset/asset/678686c47c024e18e773c75e90aaab1c-1705999902381/hero-xl-x1.png);
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading{
    font-size: 35px;
    color: white;
    text-align: center;
    line-height: 29px;
    
}
h1{
    font-weight: 500;
    letter-spacing: -0.6px;
    line-height: 25px;
}

.free{
    color: #1dbf73;
}

.search{
    height: 60px;
    width: 600px;
    border-radius: 15px;
    font-size: 17px;
    margin-top: 20px;
    padding: 20px;
    
}
.searchBar{
    position: relative;
}
.searchBtn{
    position: absolute;
    background-color: #003912;
    height: 50px;
    width: 50px;
    right: 5px;
    top: 25px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
}

.trustedDiv{
    position: absolute;
    bottom: 125px;
}
.trustedList{
    
    display: flex;
    gap: 30px;
    list-style-type: none;
    color: #809d89;
    text-decoration: none;
}
.serviceList{
    display: flex;
    margin: auto;
    justify-content: space-around;
    list-style-type: none;
    width: 1350px;
    padding: 0;
    
}

.serviceLIstDiv{
    display: grid;
    
}

.li-Div{
    height: 129px;
    width: 129px;
    border: none;
    border-radius: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
}

.serviceMainDiv{
    width: 1400px;
    height: 492px;
    margin: auto;
    
}

.a-li{
    height: 129px;
    width: 129px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding: 10px;
    
}

.liPic{
    height: 30px;
    
}

.serviceMainDiv{
    margin: 50px auto ;
    font-size: 24px;
    height: 265px;

}

.gridServices{
    padding-left: 40px;
    padding-right: 50px;
    display: flex;
    gap: 20px;
}

.slides{
    
    border-radius: 15px;
    font-size: 18px;
    width: 185px;
    height: 245px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slideHeader{
    text-decoration: none;
    color: white;
    font-weight: 750;
}

a{
    text-decoration: none;
}

.sliderPic{
    height: 160px;
    border-radius: 15px;
}

.sliderPic img{
    border-radius: 15px;
}

.pic1{
    background-image: url(https://fiverr-res.cloudinary.com/q_auto,f_auto,w_188,dpr_1.0/v1/attachments/generic_asset/asset/798403f…-1702465156477/website-development.png);

}

.slide1{
    background-color: #00732e;
}
.slide2{
    background-color: #ff7640;
}

.slide3{
    background-color: #003912;
}

.slide4{
    background-color:#4d1727;
}
.slide5{
    background-color: #687200;
}
.slide6{
    background-color: #421300;
}

.featuresGrid{
    margin:  20px 100px;
    display: flex;
    gap: 30px;
}
h1{
    margin-left: 100px;
    line-height: 55px;
    font-size: 50px;
}

.featuresSlide{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    width: 350px;
    padding: 10px;
    letter-spacing: 0.8px;
}

.vdo{
    height: 751px;
    margin: 20px 100px;
    width: 1336px;
    border-radius: 27px;
}

.fSlideHead p{
    font-size: 24px;
}

.fSlideContent p{
    color: #809d89;
}
.myVid{
    width: 1336px;
}

.fProDiv{
    height: 737.6px;
    width: 1336px;
    margin: 100px 100px;
    background-color:#003912;
    border-radius: 17px;
    display: flex;
    color: white;
    
}

.fProWritingDiv{
    display: grid;
    padding: 10px 60px;
    width: 40%;
    grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
}

.fProPicDiv{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fProPicDiv img{
    width:629.33px; height:360px;
}
.fProLogo{
    display: flex;
    flex-direction: column;
    justify-content:end;
}

.fProHead{
    font-size: 2rem;
}

.fProContent{
    line-height: 26px;
}

.startBtn{
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    padding: 12px 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

.feedback{
    width: 1336px;
    height: 300px;
    margin: 20px 100px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    
}

.fdbckText{
    padding: 20px 100px;
}

.fdbackName{
    display: flex;
    gap: 20px;
    height: 40px;
}
.fdbackVdo{
    background-image: url(https://fiverr-res.cloudinary.com/q_auto,f_auto,w_560,dpr_1.0/v1/attachments/generic_asset/asset/42a6fd208670a0361b38bd72b47b9317-1599519173399/testimonial-video-still-rooted.jpg);
    background-size: cover; /* Ensure the image covers the div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* No repeat for the image */
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logoMakerAd{
    margin: 20px 100px;
    height: 400px;
    /*width: 1336px;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:  #fff6f2;
    padding: 50px;
    border-radius: 10px;
}

.logoMakerAdBtn{
    background-color: black;
    color: white;
    height: 40px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoMakerAdText{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.logoMakerAdPic{
    display: flex;
    justify-content: center;
    align-items: center;
}

.picCollage{
    display: flex;
    margin: 20px 100px;
    gap: 10px;
    justify-items: start;
}

.collageRow1{
    display: grid;
    grid-template-rows: 1fr 1.4fr 1.1fr;
}

.collagePics img{
    border-radius: 12px;
}
.guideDiv{
    margin: 20px 100px;
}

.guideHead{
    display: flex;
    justify-content: space-between;
}

.guideSlides{
    display: flex;
    gap: 10px;

}



.guideSlides img{
    height: 295px;
    
}

.guideSlides .GSlide{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.GSlide a{
    color: black;
    font-weight: 1000px;
}

.joinDiv{
    height: 250px;
    margin: 40px 100px;
    background-color: #4c1726;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tail{
    border-top: 1px solid #e4e5e7;
    margin: 0 100px;
}

.footLi{
    list-style-type: none;
    padding: 0%;
    
}

.footLi a{
    color: #809d89;
   
}
.footLi li{
    margin: 17px 0;
    text-align: left;
}
.footLinks{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    gap: 20px;
}

.SMLinksDiv{
    margin:  0 100px;
    display: flex;
    justify-content: space-between;
}

.SMLogos a{
    margin: 0 10px;
}